[Unit]
Description=Daily backup to {{ bucket }} service
After=network-online.target
Wants=network-online.target
[Service]
Type=oneshot
ExecStart=/usr/bin/gsutil rsync -r -d /var/lib/unifi/backup "gs://{{ bucket }}"
